<link rel="stylesheet" href="/footer.css">

<footer>
    <div class="creators">
        <div>
            <h2>Mentorsoft</h2>
            <p>Made with <em class="fa fa-heart" style="color: #E33A6D" ></em> from Nepal</p>
        </div>
        <div>
            <h2>Contact</h2>
            <p>roshanbhattmnr@gmail.com</p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &#169; 2021 Mentorsoft. All rights reserved by Roatt Tilma.</p>
    </div>
</footer>