<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

    nav h1{
        color: #4548F4;
        font-family: 'Work Sans', sans-serif;
    }
</style>
<nav>
    <h1>Mentorsoft</h1>
</nav>