<section id = "video-section">
    <video autoplay id = "other-video">
        <!-- Other user's Video Stream -->
    </video>
</section>
<section id = "video-controls">
    <div id = "video-buttons">
        <ul>
            <li><button><em class = "fa fa-video-camera fa-2x"></em></button></li>
            <li><button><em class = "fa fa-microphone fa-2x"></em></button></li>
            <li><button><em class = "fa fa-desktop fa-2x"></em></button></li>
            <li><button  style = "background-color: #E33A6D"><em class = "fa fa-phone fa-2x"></em></button></li>
        </ul>
    </div>
    <video autoplay id = "my-video">
        <!-- Own Video Stream -->
    </video>
</section>