<script type = "text/javascript" >  
    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null };  
</script> 

<div id="other-video-container">
    <video autoplay id = "other-video">
        <!-- Other user's Video Stream -->
    </video>
</div>

<div id = "controls">

    <div id="info-chat-buttons">
        <ul>
            <li><em id="info-icon" class = "fas fa-info-circle fa-2x"></em></li>
            <li><em id="chat-icon" class = "fas fa-comments fa-2x"></em></li>
        </ul>
    </div>

    <div id = "video-buttons">
        <ul>
            <li><button id="video-btn"><em id="video-icon" class = "fas fa-video-slash fa-2x"></em></button></li>
            <li><button id="audio-btn"><em id="audio-icon" class = "fas fa-microphone-slash fa-2x"></em></button></li>
            <li><button id="screen-share-btn"><em id="screen-share-icon" class = "fa fa-desktop fa-2x"></em></button></li>
            <li><button id="end-call-btn"  style = "background-color: #E33A6D"><em class = "fa fa-phone fa-2x"></em></button></li>
        </ul>
    </div>
    
    <div id="my-video-container">
        <video autoplay id = "my-video">
            Own Video Stream
        </video>
    </div>

</div>

<div id="info">
    <ul id = "info-list">
        <li class="info-list-elements">Room Name: <%= roomDet.room.name %></li>
        <li class="info-list-elements">Room ID: <%= roomDet.room.id %></li>
        <li class="info-list-elements">Room Password: <%= roomDet.room.password %></li>
        <li class="info-list-elements">Host Name: <%= roomDet.host.name %></li>
    </ul>
</div>