<div id="other-video-container">
    <video autoplay id = "other-video">
        <!-- Other user's Video Stream -->
    </video>
</div>

<div id = "controls">

    <div id="info-chat-buttons">
        <ul>
            <li><em id="info-icon" class = "fas fa-info-circle fa-2x"></em></li>
            <li><em id="chat-icon" class = "fas fa-comments fa-2x"></em></li>
        </ul>
    </div>

    <div id = "video-buttons">
        <ul>
            <li><button><em class = "fa fa-video-camera fa-2x"></em></button></li>
            <li><button><em class = "fa fa-microphone fa-2x"></em></button></li>
            <li><button><em class = "fa fa-desktop fa-2x"></em></button></li>
            <li><button  style = "background-color: #E33A6D"><em class = "fa fa-phone fa-2x"></em></button></li>
        </ul>
    </div>
    
    <div id="my-video-container">
        <video autoplay id = "my-video">
            Own Video Stream
        </video>
    </div>
</div>
<!-- <div id = "video-controls">
    
     
</div> -->