<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="gridBox">
        <div class="Image">
            <img src="/images/createroom.jpg" alt="formImage"> 
        </div>
        <div class="content content-margin-auto">
            <h1>Create a Room</h1>
            <form action="/room" method="POST" autocomplete="off">
                <input type="text" name="roomName" id="roomName" placeholder="Room Name">
                <input type="text" name="hostName" id="hostName" placeholder="Your Name">
                <input class= "btn" type="submit" value="CREATE ROOM">
            </form>
            <p>Want to join a room? <a href="/guest">Click Here</a></p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>