<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/room.css">
    <script>
        const ROOM_ID = "<%= roomId %>";
        const GUEST_ID = "<%= guestId %>";
    </script>
</head>

<body>
    <%- include('./partials/room.ejs') %>
</body>

<script src = "/socket.io/socket.io.js" defer></script>
<script src = "/JS/guest.js" defer></script>

</html>