<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1>For hosts (mentors)</h1>
    <a href="/room">Create Room</a>
</body>
<script src = "/index.js" defer></script>
</html>