<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="gridBox">
        <div class="content">
            <h1>Get Started Now</h1>
            <p>Create or Join a room</p>
            <div class="indexButtons">
                <button class = "btn" onclick="window.location.href = '/host'">Host</button>
                <button class = "btn" onclick="window.location.href = '/guest'">Join</button>
            </div>
        </div>
        <div class="Image">
            <img src="/images/papercup.png" alt="papercupImage">
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>