<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1>Homepage</h1>
    <a href="/host">Host a call</a><br>
    <a href="/guest">Join a call</a>
</body>
<script src = "/index.js" defer></script>
</html>