<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="gridBox">
        <div class="Image">
            <img src="/images/joinroom.jpg" alt="formImage"> 
        </div>
        <div class="content content-margin-auto">
            <h1>Join a Room</h1>
            <form action="/room/connect" method="POST" autocomplete="off">
                <div>
                    <input type="text" name="roomId" id="roomId" placeholder="Room Id" required>
                    <%if (error === 'wrongRoomId'){%>
                        <br><span class="joinRoomError">Wrong Room Id!</span>
                    <%}else if(error === 'roomFull'){%>
                        <br><span class="joinRoomError">Room is FULL!</span>
                    <%}%>
                </div>
                <input type="text" onfocus="hide_error" name="guestName" id="guestName" placeholder="Your Name">
                <input class="btn" type="submit" value="JOIN ROOM">
            </form>
            <p>Want to host? <a href="/host">Click Here</a></p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>