@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

html {
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
}

.container-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.controls{
    display: flex;   
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding: 0 4%;
    height: 10%;
    min-height: 60px;
}

.my-video-container{  
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 232px;
    display: flex;
    transition: all 0.4s ease;
}

.hide-show {
    flex: 2 2;
    height: 40px;
    width: 32px;
    border-radius: 4px 0 0 4px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    color: #333;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.other-video-container{
    position: relative;
    height: 90%;
    flex: 2 2 auto;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.my-video {
    object-fit: cover;
    height: 200px;
    width: 200px;
    transition: all 0.4s ease;
}

.other-video{
    border-radius: 3px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


.video-buttons ul{
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 12px;
    list-style: none;
}

.info-icon,
.chat-icon{
    position: absolute;
    color: #0d0d29;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 100;
    bottom: 25px;
    left: 4%;
}

.chat-icon {
    left: unset;
    right: 4%;
}

.copy-icon {
    cursor: pointer;
    margin-left: 5px;
}

.other-audio-icon{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 25px;
    z-index: 9;
    color: #fff;
}

.video-buttons button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4548F4;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.video-buttons button em{
    color: white;
}


.info{
    border: none;
    position: absolute;
    width: 240px;
    bottom: 12%;
    left: 3%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #4548F455;
    backdrop-filter: blur(12px);
    z-index: 10;
}

.info ul{
    padding: 0px;
    width: 90%;
    margin: auto;
    list-style: none;
}

.info ul li{
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.04em;
    color: #fff;
}

.arrow{
    position: relative;
    border: none;
    width: 1vw;
    height: 1vw;
    top: 0.5vw;
    left: 1.2vw;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #4548F455;
    backdrop-filter: blur(12px);
    background-blend-mode: screen;
    z-index: 10;
}

.hide {
    width: 32px;
}

.hide video {
    width: 0;
}

/* Overlay */

.overlay {
    background-color: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    display: grid;
    place-items: center;
}

.gap32 {
    width: calc(100% - 32px);
    background-color: #444;
}

.overlay > div{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #4548F4;
    display: grid;
    place-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: #fff;
}

.hide-overlay {
    display: none;
}

/* Chat */
.chat-window {
    position: absolute;
    right: 0;
    top: 0;
    height: 90%;
    width: 360px;
    margin-right: -360px;
    background:#e8e8ff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all 0.4s ease;
    z-index: 10;
}

.chat-head {
    background-color: #4548F4;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8rem;
    letter-spacing: 0.05rem;
}

.chat-area {
    color: #0d0d29;
    font-weight: 600;
    flex: 2 2 auto;
    overflow-y: auto;
}

.chat-area p{
    font-size: small;
    padding: 5px 25px;
    text-align: center;
}

.chat {
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 12px;
    padding: 0.5rem;
}

.chat-name {
    display: block;
    font-size: 0.85rem;
    padding-bottom: 0.5rem;
    color: #4548F4;
}

.chat-msg {
    line-height: 1.3;
    word-wrap: break-word;
}

.send-area {
    /* background-color: #444; */
    padding: 0.6rem;
    display: flex;
    gap: 0.5rem;
}

.send-area input {
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    border: 0.5px solid #fff;
    border-radius: 40px;
}

.send-area button {
    border-radius: 40px;
    border: none;
    width: 80px;
    padding: auto 0.6rem;
    background-color: #4548F4;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.send-area button:hover {
    background-color: #5558fd;
}

.full-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c4c4ff;
    z-index: 10;
    display: grid;
    place-items: center;
    font-weight: 600;
}

.full-overlay p{
    text-align: center;
    color: #4548F4;
    position: absolute;
    top: 0;
    font-size: 3rem;
    letter-spacing: 0.05rem;
}

.full-overlay span {
    letter-spacing: 0.05rem;
    text-align: center;
}

.leave-room-btn,
.end-room-btn,
.start-meeting-btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    letter-spacing: 0.05rem;
    border: none;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    background: #4548F4;
    color: #fff;
    box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
    cursor: pointer;
    left: calc(50% - 75px);
}

.leave-room-btn,
.end-room-btn{
    position: absolute;
    bottom: 25px;
    background: #E33A6D;
}


.chat-show {
    display: flex;
    margin-right: 0;
}

.new-message-notification{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50px;
    padding: 0.6rem 0 0 0;
    text-align: center;

    height: 30px;
    width: 100%;
    z-index: 100;

    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;

    border: none;
    background-color: #4548F4;
    
    transition: all 0.4s ease;
}


.show-new-message-notification{
    margin-top: 0;
}

.hide-full-overlay{
    display: none;
}


/* Media queries  */
@media (max-width: 480px){
    .chat-window {
        display: none;
        width: 100%;
    }
}