body{
    display: grid;
    grid-template-rows: 85% 15%;
    row-gap: 8px;
}

#controls{
    display: flex;   
    justify-content: space-between;
}

#my-video{  
    height: 14vh;
    width: 14vw;
    object-fit: cover;
}

#other-video-container{
    height: 82vh;
}


#other-video{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#info-chat-buttons{
    padding: 20px 0px 0px 20px;
}

#info-chat-buttons ul,
#video-buttons ul{
    padding: 0;
    display: inline-flex;
    gap: 12px;
    list-style: none;
}

#info-chat-buttons button{
    background-color: #fff;
    border: none;
}

#info-chat-buttons button em{
    color: #0d0d29;
}

#video-buttons button{
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    background-color: #4548F4;
    border: none;
}

#video-buttons button em{
    color: white;
}



