@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
}

.container-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.controls{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 0 4%;
    height: 10%;
    min-height: 60px;
}

.my-video-container{  
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 232px;
    display: flex;
    transition: all 0.4s ease;
}

.hide-show {
    flex: 2 2;
    height: 40px;
    width: 32px;
    border-radius: 4px 0 0 4px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    color: #333;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.other-video-container{
    position: relative;
    height: 90%;
    flex: 2 2 auto;
}

.my-video {
    object-fit: cover;
    height: 200px;
    width: 200px;
    transition: all 0.4s ease;
}

.other-video{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.video-buttons ul{
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 12px;
    list-style: none;
}

.info-icon,
.chat-icon{
    color: #0d0d29;
    cursor: pointer;
}

.video-buttons button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4548F4;
    border: none;
    cursor: pointer;
}

.video-buttons button em{
    color: white;
}

.info{
    border: none;
    position: absolute;
    width: 240px;
    bottom: 12%;
    left: 3%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #4548F455;
    backdrop-filter: blur(12px);
}

.info ul{
    padding: 0px;
    width: 90%;
    margin: auto;
    list-style: none;
}

.info ul li{
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.04em;
    color: #fff;
}

.arrow{
    position: relative;
    border: none;
    width: 1vw;
    height: 1vw;
    top: 0.5vw;
    left: 1.2vw;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #4548F455;
    backdrop-filter: blur(12px);
    background-blend-mode: screen;
}

.hide {
    width: 32px;
}

.hide video {
    width: 0;
}

/* Overlay */

.overlay {
    background-color: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    display: grid;
    place-items: center;
}

.gap32 {
    width: calc(100% - 32px);
    background-color: #444;
}

.overlay > div{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #4548F4;
    display: grid;
    place-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: #fff;
}

.hide-overlay {
    display: none;
}