body{
    margin: 20px;
}

.formGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Work Sans', sans-serif;
}

.formImage img{
    width: 100%;
    object-fit: cover;
}

.form{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.form form input[type='text']{
    border: none;
    border-bottom: 1px solid #000;
    width: 50%;
}


