*{
    margin: 0;
}

#video-section{
    padding: 12px;
    padding-bottom: 20px;
    text-align: center;
    height: 85vh;
}

#video-controls{
    
    height: 10vh;
    display: grid;
    grid-template-columns: 90% 10%;
    width: 98vw;
    margin: 0 12px;
}

#video-buttons{
    text-align: center;
}

#video-buttons ul{
    display: inline-flex;
    gap: 12px;
    list-style: none;
}

#video-buttons button{
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    background-color: #4548F4;
    border: none;
}

#video-buttons button i{
    color: white;
}

#my-video{
    width: 100%;
    height: 10vh;
    object-fit: cover;
}

#other-video{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

